:root {
	--main-bg-color: aliceBlue;
	--card-bg-color: white;
	--color-primary: royalBlue;
	--color-primary-hover: dodgerBlue;
	--text-color: #333;
	--animation-duration-normal: 400ms;
	--animation-duration-fast: 250ms;
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	box-sizing: border-box;
	color: dimgray;
	font-family: sans-serif;
	background-color: var(--main-bg-color);
}

.jumbito {
	height: 300px;
	width: 300px;
	animation-name: enter;
	position: relative;
}

.svg-wrapper {
	position: absolute;
	width: 100%;
	top: 16em;
	animation-name: enter;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes enter {
	from {
		top: 16em;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

#phone {
	animation-name: tada;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

@keyframes tada {
	0% {
		transform: scale(1);
	}

	70%, 100% {
		transform: scale(1.1) rotate(3deg);
	}
}

#inner-ears {
	animation-name: bounce;
	animation-duration: 600ms;
	animation-fill-mode: forward;
	animation-delay: 1s;
	animation-direction: alternate;
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(0);
	}
	
}

#horn {
	animation-name: bounce-horn;
	animation-duration: 600ms;
	animation-fill-mode: forward;
	animation-delay: 1s;
	animation-direction: alternate;
}

@keyframes bounce-horn {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(4px);
	}
	100% {
		transform: translateY(0);
	}
	
}

#right-arm {
	
	animation-name: move-arm;
	animation-fill-mode: both;
	animation-duration: 1500ms;
	animation-fill-mode: forwards;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes move-arm {
	from {
		transform: rotate(0) ;
	}
	to {
		transform: rotate(1deg);
	}
	
}
