:root {
	--animation-duration-normal: 400ms;
	--animation-duration-fast: 250ms;
	--animation-delay-normal: 400ms;
	--animation-delay-slow: 1000ms;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	min-height: 100vh;
	display: grid;
	place-items: center;
	box-sizing: border-box;
	color: dimgray;
	font-family: sans-serif;
	background-color: var(--main-bg-color);
}

.jumbito {
	height: 300px;
	width: 300px;
	position: relative;
}

.svg-wrapper {
	position: absolute;
	width: 100%;
	top: 16em;
	animation-name: enter-jumbito;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes enter-jumbito {
	from {
		top: 16em;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

#phone {
	animation-name: shake-phone;
	animation-duration: 8000ms;
	animation-fill-mode: forwards;
	animation-delay: 1500ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: center;
	transform-box: fill-box;
}

@keyframes shake-phone {
	from {
		transform: scale(1);
	}
	5% {
		transform: scale(1.2) rotate(2deg) translateX(-5px);
	}
	10% {
		transform: scale(1.2) rotate(2deg) translateX(-5px);
	}
	to {
		transform: scale(1.2) rotate(2deg) translateX(-5px);
	}
}

#head {
	animation-name: bounce-head, rotate-head;
	animation-duration: 600ms;
	animation-delay: 400ms, 2000ms;
	animation-fill-mode: both, forwards;
	animation-direction: alternate;
	transform-origin: center;
	transform-box: fill-box;
}

@keyframes rotate-head {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(5deg);
	}
}

@keyframes bounce-head {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
	
}

@keyframes bounce {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(0);
	}
	
}

#right-arm {
	animation-name: move-arm;
	animation-duration: 1500ms;
	animation-fill-mode: forwards;
	animation-delay: 3500ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes move-arm {
	from {
		transform: rotate(0) ;
	}
	to {
		transform: rotate(1deg);
	}
	
}